body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(255, 244, 213), rgb(182, 234, 255));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 5px;
  border-radius: 0px 0px 12px 12px;
}

.pagination ul li {
  color: rgb(130, 211, 244);
  list-style: none;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination ul li.page {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 0 3px
}

.pagination ul li.page:hover {
  color: white;
  background: rgb(130, 211, 244);
}

select {
  height: 30px;
  margin: 8px;
  padding: 3px 12px;
  color: rgb(17, 161, 218);
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.3s ease;
}

select:focus,
select:hover {
  outline: none;
  border: 1px solid white;
  background: rgb(130, 211, 244);
  color: white;
}

select option {
  background: white;
}

input {
  margin: 8px;
  border: none;
  height: 25px;
  padding: 3px 12px;
  appearance: none;
  border-radius: 5px;
}

table {
  /* position: absolute; */
  /* z-index: 2; */
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

td,
th {
  padding: 15px 20px;
  text-align: center;


}

th {
  background-color: rgb(130, 211, 244);
  color: #fafafa;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 200;
  text-transform: uppercase;

}

tr {
  transition: all .2s ease-in;
  cursor: pointer;
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

tr:hover {
  background-color: white;
  transform: scale(1.02);
  box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
